<footer>
  <div class="footer">

    <div class="footer_menu flex">
      <div class="footer_menu_li"><%= link_to "トップページ", root_path %></div>
      <div class="footer_menu_li">プライバシーポリシー</div>
      <div class="footer_menu_li">当サイトについて</div>
    </div>

    <div class="copyright">Copyright © 2018 VRoom All Rights Reserved.</div>

  </div>
</footer>
